{% extends "blog/base.html" %}

{% block title %}Add Comment - {{ post.title }}{% endblock %}

{% block content %}
    <div class="form">
        <h2 class="form__title"><i class="fas fa-comment"></i> Add Comment to: {{ post.title }}</h2>
        
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.content.id_for_label }}" class="form__label">Your comment:</label>
                {{ form.content }}
            </div>
            <button type="submit" class="form__button">
                <i class="fas fa-paper-plane"></i> Submit Comment
            </button>
        </form>
    </div>
{% endblock %}